<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.github.ryoqun.driver.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>new keyborad - 2</key>
		<dict>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>IOClass</key>
			<string>SatsukiKeyboard</string>
			<key>IOMatchCategory</key>
			<string>SatsukiKeyboard</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>CFBundleIdentifier</key>
			<string>com.github.ryoqun.driver.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>ProductID</key>
			<integer>610</integer>
			<key>bcdDevice</key>
			<integer>546</integer>
		</dict>
		<key>new keyborad</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>IOClass</key>
			<string>SatsukiKeyboard</string>
			<key>IOMatchCategory</key>
			<string>SatsukiKeyboard</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>CFBundleIdentifier</key>
			<string>com.github.ryoqun.driver.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>VendorID</key>
			<integer>1455</integer>
			<key>ProductID</key>
			<integer>33382</integer>
		</dict>
		<key>Zippy Technology Corp., Sanwa Supply Inc. Small Keyboard</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>IOClass</key>
			<string>SatsukiKeyboard</string>
			<key>IOMatchCategory</key>
			<string>SatsukiKeyboard</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>CFBundleIdentifier</key>
			<string>com.github.ryoqun.driver.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>VendorID</key>
			<integer>2458</integer>
			<key>ProductID</key>
			<integer>25392</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>10.8</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.8</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.6.6</string>
	</dict>
</dict>
</plist>
